body{
	background: #999;
}
.row{
	margin-top: 50px;
}
img{
	height: 200px;
	width: 200px;
	z-index: 2;
}
img:hover{
	text-align: center;
	width: 400px;
	height: 400px;
	position: absolute;
	transition: 1;
	z-index: 5;
	
}
