body{
	margin: 0px auto;
	background-color: #cccccc;
}

.razdel{
	height: 50px;
	text-align: center;
	background-color: #00FFA9;
}
h2{
 text-transform: uppercase;
	
	color:white;

}

/*.d-block{

margin: 0 auto;
}*/
.carousel-control-prev, .carousel-control-next{
	background-color: #777777;
}

.inner-fotorama{
	margin:0 auto;
	width: 50%;
}
